{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

<!-- Start Content -->
    <section id="blog" class="container">
        <div class="text-start my-5">
            <p class="subtitle-blog">Lycée Professionel Viviani</p>
            <h1 class="title">Actualités</h1>
            
            
            <!-- Start Row -->
            <div class="row">
                <!-- Start Card -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card  blog-content mb-5">
                        <img src="{{ ('assets/img/actuality.jpg') }}" alt="" class="img-fluid blog-img">
                        <div class="card-body ">
                            <div class="card-text text-start">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequatur enim commodi eligendi quam minima labore...
                                </p>
                            </div>
                            <a class="btn-blog float-start" href="#">Lire la suite ..</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card  blog-content mb-5">
                        <img src="{{ asset('assets/img/formations.jpg') }}" alt="" class="img-fluid blog-img">
                        <div class="card-body ">
                            <div class="card-text text-start">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequatur enim commodi eligendi quam minima labore...
                                </p>
                            </div>
                            <a class="btn-blog float-start" href="#">Lire la suite ..</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card  blog-content mb-5">
                        <img src="{{ asset('assets/img/course.jpg') }}" alt="" class="img-fluid blog-img">
                        <div class="card-body ">
                            <div class="card-text text-start">
                                <p class="pouet">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequatur enim commodi eligendi quam minima labore...
                                </p>
                            </div>
                            <a class="btn-blog float-start" href="#">Lire la suite ..</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card  blog-content mb-5">
                        <img src="{{ asset('assets/img/course-two.jpg') }}" alt="" class="img-fluid blog-img">
                        <div class="card-body ">
                            <div class="card-text text-start">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequatur enim commodi eligendi quam minima labore...
                                </p>
                            </div>
                            <a class="btn-blog float-start" href="#">Lire la suite ..</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card  blog-content mb-5">
                        <img src="{{ asset('assets/img/news.jpg') }}" alt="" class="img-fluid blog-img">
                        <div class="card-body ">
                            <div class="card-text text-start">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequatur enim commodi eligendi quam minima labore...
                                </p>
                            </div>
                            <a class="btn-blog float-start" href="#">Lire la suite ..</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card  blog-content mb-5">
                        <img src="{{ asset('assets/img/actuality.jpg') }}" alt="" class="img-fluid blog-img">
                        <div class="card-body ">
                            <div class="card-text text-start">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequatur enim commodi eligendi quam minima labore...
                                </p>
                            </div>
                            <a class="btn-blog float-start" href="#">Lire la suite ..</a>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- End Content -->

{% endblock %}
