{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}



{% block body %}

<!-- Start Header -->
    <header class="header">
        
        <!-- Start Banner -->
        <div class="banner" style="background-image: url('.{{ asset('assets/img/viviani.png')}}');">
            <div class="color-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <h1><span class="auto-typing"></span></h1>
                        <p class="about__subtitle">
                            Rejoignez-nous et découvrez les nombreuses opportunités de carrière qui s'offrent <br>
                            à vous dans le secteur des services aux entreprises et aux administrations. <br>
                            Ensemble, nous construirons votre avenir professionnel.
                        </p>
                    </div>
                </div>   
            </div>
            
            <a href="#" class="btn btn-primary">A Propos</a>
            
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Start Services -->
    <section class="container" id="service">
        <h2 class=" d-flex justify-content-center">Nos Formations</h2>
        <span class=" d-flex justify-content-center text-center">
            Nous croyons en l'importance de préparer nos étudiants à intégrer le marché du travail avec 
            des compétences concrètes. C'est pourquoi nous offrons des formations professionnelles dans 
            divers secteurs.
        </span>
            <div class="content__box">
                <div class="cards">
                    <i class="fa-solid fa-dolly"></i>
                    <h3>Logistique</h3>
                    <p>
                        Gestion de la chaîne d'approvisonnement et livraison efficace des produits.
                    </p>
                </div>
                <div class="cards">
                    <i class="fa-solid fa-chart-simple"></i>
                    <h3>Commerce</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempora placeat 
                        fugiat voluptatibus distinctio? 
                    </p>
                </div>
                <div class="cards">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <h3>Vente</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempora placeat 
                        fugiat voluptatibus distinctio? 
                    </p>
                </div>
                <div class="cards">
                    <i class="fa-solid fa-user-gear"></i>
                    <h3>Equipier Polyvalent</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempora placeat 
                        fugiat voluptatibus distinctio? 
                    </p>
                </div>
                <div class="cards">
                    <i class="fa-solid fa-computer"></i>
                    <h3>Assistante de Gestion</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempora placeat 
                        fugiat voluptatibus distinctio? 
                    </p>
                </div>
                <div class="cards">
                    <i class="fa-solid fa-person-walking-luggage"></i>
                    <h3>Métier d'Acceuil</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempora placeat 
                        fugiat voluptatibus distinctio? 
                    </p>
                </div>
            </div>
    </section>
    <!-- End Services -->

    <!-- Start News -->
    <section id="news">
        <h2 class="d-flex justify-content-center text-light mt-md-2 pb-md-5">Dernières Nouvelles et Événements</h2>
        <div class="container d-flex justify-content-center card__container">     
            <div class="row g-4">
                <div class="col-xs-12 col-md-4">
                    <div class="card card__news">
                        <img src="{{asset('assets/img/course.jpg')}}" class="img-fluid" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn__news d-flex justify-content-center m-5">Lire la suite ..</a>
                        </div>
                      </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="card card__news">
                        <img src="{{asset('assets/img/course-two.jpg')}}" class="img-fluid" alt="...">
                        <div class="card-body card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn__news d-flex justify-content-center m-5">Lire la suite ..</a>
                        </div>
                      </div>
                </div>
                <div class="col-xs-12 col- col-md-4">
                    <div class="card card__news">
                        <img src="{{asset('assets/img/course.jpg')}}" class="img-fluid" alt="...">
                        <div class="card-body mb-1">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn__news d-flex justify-content-center text-center m-5">Lire la suite .. </a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End News -->

    <!-- Start Description -->
    <section id="description">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="description__text">
                        <h3>La Vie Au Lycée</h3>
                        <p> Les élèves ont l'occasion de développer leurs compétences académiques, 
                            leurs compétences sociales et émotionnelles, ainsi que leur identité personnelle. C'est également 
                            un lieu où les amitiés se nouent, où l'on apprend à travailler en équipe.
                        </p>
                    </div>   
                </div>
                <div class="col-md-6  ">
                    <div class="description__img">
                        <img src="{{ asset('assets/img/galery/lycee.jpg')}}" class="img-fluid" alt="espace de lecture">
                    </div>
                </div> 
            </div>
        </div>  
        <div class="container pb-5">
            <div class="row reverse">
                <div class="col-md-6">
                    <div class="description__img">
                        <img src="{{ asset('assets/img/galery/internat.jpg')}}" class="img-fluid" alt="espace de lecture">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="description__text__right">
                        <h3>L'internat</h3>
                        <p> Dans l'ensemble, l'internat peut offrir aux élèves une expérience unique et enrichissante, leur permettant 
                            de vivre et de travailler ensemble dans un environnement communautaire et stimulant.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm mx-auto button_lib mb-5">En savoir +</a>
                    </div>    
                </div>
            </div>
        </div>  
    </section>
    <!-- End Description -->

    <!-- Start Section Contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="description__text contact__text">
                        <h3 class="color__title">Contactez<span class="font__title">-Nous</span></h3>
                        <p class="style"> Si vous avez des questions, des commentaires ou si vous souhaitez tout simplement discuter avec nous, 
                            n'hésitez pas à nous contacter. Notre équipe dévouée est là pour vous aider et répondre à tous vos besoins.
                        </p>
                        <a href="#" class="btn btn-primary  mx-auto button_lib mb-5">Nous écrire</a>
                    </div>
                    
                </div>
                <div class="col-md-6  ">
                    <div class="contact__img">
                        <img src="{{ asset('assets/img/contact_home.jpg')}}" class="img-fluid"  alt="contact">
                    </div>
                </div>
    
                
            </div>
        </div>
    </section>
    <!-- End Section Contact -->
    
    

    
{% endblock %}
