{% extends 'base.html.twig' %} 
{% block title %}C.D.I{% endblock %}
{% block body %}
<section class="home__life" id="home__life">
  <div class="container">
    <div class="row block__reverse">
      <div class="col-md-12 col-lg-6">
        <div class="section__left">
          <picture id="picture" class="px-5">
            <img
              src="{{ asset('assets/img/internat.jpg') }}"
              class="img-fluid"
              alt=""
            />
          </picture>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="section__right">
          <h1>L'Internat</h1>
          <span>
            Pour favoriser la convivialité et l'interaction sociale, vous partagerez la chambre avec un(e) camarade de classe. Cela vous offrira l'opportunité de créer des liens d'amitié durables et de partager des expériences enrichissantes pendant votre séjour à l'internat
          </span>
          <div class="content__right">
            <div class="d-inline-flex justify-content-center align-items-baseline">
              <div class="col-3">
                <ol class="body__logo ps-5">
                  <li>
                    <img
                      src="{{ asset('assets/img/flaticon/lordinateur.png') }}"
                      class="img-fluid"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="{{ asset('assets/img/flaticon/en-train-de-dormir.png') }}"
                      class="img-fluid"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="{{ asset('assets/img/flaticon/yoga.png') }}"
                      class="img-fluid"
                      alt=""
                    />
                  </li>
                </ol>
              </div>
              <div class="col-9">
                <ol class="body__content">
                  <li>
                    <h5>Bureau</h5>
                    <p>
                      Un bureau spacieux sont à votre disposition pour que vous puissiez vous consacrer à vos devoirs, vos lectures ou vos projets personnels.  
                    </p>
                  </li>
                  <li>
                    <h5>Chambre</h5>
                    <p>
                      Cette chambre élégante et confortable sera votre foyer loin de chez vous pendant votre séjour parmi nous.  
                    </p>
                  </li>
                  <li>
                    <h5>Activités</h5>
                    <p>
                      A la recherche de ressources pour vos projets scolaires, d'informations pour approfondir vos connaissances ou tout simplement d'un lieu de détente propice à la lecture.
                    </p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="library">
    <div class="container">
        <div class="row ">
            <div class="col-md-6">
                <div class="lib__text">
                    <h3>Chambre</h3>
                    <p> 
                      La chambre est spécialement conçue pour vous offrir un environnement propice à l'étude, 
                      à la détente et au développement personnel. Les murs sont décorés avec goût, créant une atmosphère accueillante 
                      et inspirante. Le mobilier de qualité comprend un lit confortable avec des draps doux et des oreillers moelleux 
                      pour que vous puissiez vous reposer paisiblement chaque nuit.
                    </p>
                    <div class="d-flex justify-content-center check mt-3">
                      <ol class="d-flex flex-column  ">
                        <li><i class="fa-solid fa-check color-check"></i>&nbsp; 46 Filles</li>
                        <li><i class="fa-solid fa-check color-check"></i> &nbsp; 52 Garçons</li>
                      </ol>
                    </div>
                    
                    
                </div>
                
            </div>
            <div class="col-md-6  ">
                <div class="lib__img">
                    <img src="{{ asset('assets/img/dortoir.jpg')}}" class="img-fluid" alt="espace de lecture">
                </div>
            </div>

            
        </div>
    </div>  

    <div class="container pb-5">
        <div class="row reverse">
            <div class="col-md-6  ">
                <div class="lib__img">
                    <img src="{{ asset('assets/img/cantine.jpg')}}" class="img-fluid align-item-right" alt="espace de lecture">
                </div>
            </div>
            <div class="col-md-6">
                <div class="lib__text">
                    <h3>Cantine</h3>
                    <p>
                      Nous sommes fiers de promouvoir une atmosphère accueillante et inclusive dans notre réfectoire. 
                      Des efforts sont faits pour créer un environnement respectueux de toutes les préférences alimentaires 
                      et pour accommoder les étudiants ayant des besoins spécifiques liés à leur régime alimentaire.
                    </p>
                </div>
                
            </div>
        </div>
    </div>  
    
</section>

{% endblock %}
