{% extends 'base.html.twig' %} 
{% block title %}Hello LibraryController!{% endblock %}
{% block body %}
<section class="home__life" id="home__life">
  <div class="container">
    <div class="row block__reverse">
      <div class="col-md-12 col-lg-6">
        <div class="section__left">
          <picture id="picture" class="px-5">
            <img
              src="{{ asset('assets/img/library.jpg') }}"
              class="img-fluid"
              alt=""
            />
          </picture>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="section__right">
          <h1>Le C.D.I</h1>
          <span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
            tempora ratione magnam necessitatibus porro, ut nemo? Sit
            praesentium quasi qui!
          </span>
          <div class="content__right">
            <div class="d-inline-flex justify-content-center align-items-baseline">
              <div class="col-3">
                <ol class="body__logo">
                  <li>
                    <img
                      src="{{ asset('assets/img/flaticon/reading.png') }}"
                      class="img-fluid"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="{{ asset('assets/img/flaticon/work-space.png') }}"
                      class="img-fluid"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="{{ asset('assets/img/flaticon/reading.png') }}"
                      class="img-fluid"
                      alt=""
                    />
                  </li>
                </ol>
              </div>
              <div class="col-9">
                <ol class="body__content">
                  <li>
                    <h5>Lecture</h5>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Cum aspernatur inventore delectus quidem architecto id
                    </p>
                  </li>
                  <li>
                    <h5>Espace</h5>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Cum aspernatur inventore delectus quidem architecto id
                    </p>
                  </li>
                  <li>
                    <h5>Information</h5>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Cum aspernatur inventore delectus quidem architecto id
                    </p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="library">
    <div class="container">
        <div class="row ">
            <div class="col-md-6">
                <div class="lib__text">
                    <h3>Coin lecture</h3>
                    <p> En poussant les portes du coin lecture, on est immédiatement enveloppé par l'atmosphère calme et sereine qui y règne. Les étagères regorgent de trésors littéraires, offrant un vaste choix de livres de tous genres et pour tous les goûts. Des classiques intemporels aux œuvres contemporaines, en passant par des romans de science-fiction, des polars captivants, des romances envoûtantes et des récits d'aventure palpitants, chaque lecteur y trouve son bonheur.
                    </p>
                    <a href="https://0880023x.esidoc.fr/" class="btn btn-primary btn-sm mx-auto button_lib mb-5">Esidoc</a>
                </div>
                
            </div>
            <div class="col-md-6  ">
                <div class="lib__img">
                    <img src="{{ asset('assets/img/room.jpg')}}" class="img-fluid" alt="espace de lecture">
                </div>
            </div>

            
        </div>
    </div>  

    <div class="container pb-5">
        <div class="row d-flex flex-reverse ">
            <div class="col-md-6  ">
                <div class="lib__img">
                    <img src="{{ asset('assets/img/room.jpg')}}" class="img-fluid align-item-right" alt="espace de lecture">
                </div>
            </div>
            <div class="col-md-6">
                <div class="lib__text">
                    <h3>Coin lecture</h3>
                    <p> En poussant les portes du coin lecture, on est immédiatement enveloppé par l'atmosphère calme et sereine qui y règne. Les étagères regorgent de trésors littéraires, offrant un vaste choix de livres de tous genres et pour tous les goûts. Des classiques intemporels aux œuvres contemporaines, en passant par des romans de science-fiction, des polars captivants, des romances envoûtantes et des récits d'aventure palpitants, chaque lecteur y trouve son bonheur.
                    </p>
                </div>
                
            </div>
        </div>
    </div>  
    
</section>   -->

{% endblock %}
